#gdgContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-family-main);
    font-style: normal;
}

#gdgContent p{
    text-align: center;
}

#gdgTitle{
    font-weight: 700;
    font-size: 6vw;
    margin-bottom: 0;
    color: var(--black);
}

#gdgTitle .gdgTitleBlue{
    color: var(--logoBlue);
}

#gdgTitle .gdgTitleYellow{
    color: var(--logoYellow);
}

#gdgTitle .gdgTitleGreen{
    color: var(--logoGreen);
}

#gdgTitle .gdgTitleRed{
    color: var(--logoRed);
}

#rbuChapter{
    font-weight: 700;
    font-size: 4vw;
    color: var(--textColorHome);
    margin: 0;
    padding: 0;
}

#gdgAbout{
    width: 60vw;
    text-align: center;
    font-weight: 400;
    color: var(--textColorHome2);
    font-size: 2.5vw;
}

#HomeImg{
    width: 50vw;
}