#FAQsTitle{
    font-family: var(--font-family-main);
    font-weight: 700;
    font-size: 4vw;
    color: var(--textColorHome2);
    text-align: center;
    margin-top: 12vw;
}

#Questions, .Question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Question{
    margin-top: 8vw;
}

.QuestionBox{
    border-radius: 54px;
    display: flex;
    align-items: center;
    border: 0.75vw solid var(--QuestionBox);
    width: 55vw;
    height: 5vw;
}

.QuestionArrow{
    width: 1.5vw;
    margin-left: 3vw;
    margin-right: 2vw;
}

.QuestionBox p{
    font-family: var(--font-family-main);
    font-weight: 700;
    font-size: 1.5vw;
    color: var(--textColorHome2);
}

.AnswerBoxOutline{
    margin-top: 2vw;
    position: relative;
    overflow: hidden;
    border-radius: 1vw;
}

.AnswerBoxOutline::before{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 0.6vw;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.InnerAnswerBox{
    border: 0.5vw solid var(--QuestionBox);
    width: 48vw;
}

.InnerAnswerBox p{
    font-family: var(--textColorHome2);
    font-size: 1.5vw;
    font-weight: 400;
    text-align: left;
    color: var(--textColorHome2);
    margin: 1.5vw;
}

.AnswerText{
    border: 0.5vw solid var(--QuestionBox);
    padding-left: 1vw;
}

#Q1 .AnswerBoxOutline::before, #Q5 .AnswerBoxOutline::before{
    background-color: var(--logoRed);
}

#Q2 .AnswerBoxOutline::before{
    background-color: var(--logoGreen);
}

#Q3 .AnswerBoxOutline::before{
    background-color: var(--logoBlue);
}

#Q4 .AnswerBoxOutline::before{
    background-color: var(--logoYellow);
}

#gdgEmail{
    text-decoration: underline;
}